{
    "presets": [
        "react",
        // "flow",
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"]
            }
        }],
        "es2015",
        "stage-0"
    ],
    "plugins": [
        "styled-jsx/babel"
//         "transform-object-rest-spread",
//         "transform-class-properties",
//         "transform-runtime",
//         "transform-object-assign"
    ]
}
